:root {
  font-size: 100%;
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}
*::before,
*::after {
  display: block;
}
img,
picture,
video,
figure {
  max-width: 100%;
  display: block;
  width: 100%;
  object-fit: cover;
  object-position: center center;
}
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}
body,
a,
button,
input,
textarea,
select,
iframe {
  cursor: none;
}
p a {
  display: inline;
}
li,
menu,
summary {
  list-style-type: none;
}
ol {
  counter-reset: revert;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em,
pre,
code,
mark,
del {
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-weight: inherit;
  line-height: inherit;
  text-decoration: none;
  color: inherit;
}
blockquote::before,
blockquote::after,
q::before,
q::after {
  content: none;
}
form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  appearance: none;
}
fieldset {
  border: none;
}
::placeholder {
  color: unset;
}
button {
  all: unset;
  cursor: pointer;
}
table,
tr,
td,
tbody,
thead {
  border-collapse: collapse;
  border-spacing: 0;
}
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}
html,
body {
  hyphens: auto;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f7f2e7;
  height: 100%;
}

.Cursor {
  position: fixed;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #21ce99;

  left: 0;
  top: 0;

  pointer-events: none;
  z-index: 99999;

  transform: translate(-50%, -50%);
}

#Loader {
  position: fixed;
  inset: 0;
  background: #b91919;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition:
    opacity 0.8s ease,
    visibility 0.8s ease;
}

#Loader.hidden {
  opacity: 0;
  visibility: hidden;
}

.Loader-test {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
}

.Loader-progress-wrapper {
  width: 300px;
  height: 6px;
  background: rgba(255, 255, 255, 0.2);
  overflow: hidden;
  border-radius: 20px;
}

.Loader-progress-bar {
  height: 100%;
  width: 0%;
  background: #fff;
  transition: width 0.2s ease;
}

#site-content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  opacity: 0;
}

#site-content.visible {
  opacity: 1;
}

main {
  flex: 1;
}
nav.Nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  max-width: 90%;
  margin: auto;
  border-bottom: 1px solid rgb(157, 152, 152);
}

ul.Nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-size: 1.2rem;
}
.Nav-list > li {
  position: relative;
}
.Nav-logo {
  font-size: 1.5rem;
  font-weight: bold;
}
.Nav > ul > li:hover::before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 0;
  width: 0;
  z-index: 1;
  margin-top: 10px;
  border-bottom: 2px solid #0c0c0c;
  animation: border-move 0.2s linear;
  animation-fill-mode: forwards;
}
.Nav-hamburger .Navigation-trigger {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #21ce99;
  position: relative;
  transition:
    border-radius 0.5s ease,
    transform 0.3s ease;
}
.Navigation-trigger::before,
.Navigation-trigger::after {
  content: "";
  position: absolute;
  left: 50%;
  width: 27px;
  height: 2px;
  background-color: #000;
  transform: translateX(-50%);
  transition: transform 0.3s ease;
}

.Navigation-trigger::before {
  top: 18px;
}

.Navigation-trigger::after {
  top: 28px;
}
.Navigation-trigger:hover {
  border-radius: 0;
}

@keyframes border-move {
  100% {
    width: 100%;
  }
}
.Second-nav {
  position: fixed;
  inset: 0;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #184eac;
  opacity: 0;
  transform: translateY(-100%);
  transition:
    transform 0.6s ease,
    opacity 0.6s ease;
  pointer-events: none;
}

.Second-nav.isOpen {
  width: 100%;
  background-color: #184eac;
  z-index: 9999;
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}
.Second-nav.isClosing {
  transform: translateY(100%);
  transition: transform 0.8s ease-in-out;
}
.Second-nav.isOpen .Nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  gap: 3rem;
  font-size: 5em;
  line-height: 1.038;
  font-weight: 400;
  height: 100%;
}
.Second-nav.isOpen .Nav-list > li {
  position: relative;
}

.Second-nav.isOpen .Nav-list > li::after {
  content: "";
  position: absolute;
  width: 120px;
  height: 60px;
  opacity: 0;
  left: 100%;
  top: 50%;
  transform: translate(-10px, -50%);
  background-image: url("../assets/icon-arrow-giant-arrow-desktop-light.545e1526.svg");
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.35s ease;
}
.Second-nav.isOpen .Nav-list > li:hover {
  color: #fef8ad;
}
.Second-nav.isOpen .Nav-list > li:hover::after {
  opacity: 1;
  transform: translate(10px, -50%);
  color: #fef8ad;
}
.Nav-hamburger.isOpen .Navigation-trigger {
  display: block;
  z-index: 999999999999;
  background: #f67a57;
}
.Nav-logo.isOpen {
  color: #fff;
  z-index: 999999999999;
}
.Navigation-trigger.isOpen::before {
  transform: translate(-50%, -50%) rotate(45deg);
  top: 50%;
}

.Navigation-trigger.isOpen::after {
  transform: translate(-50%, -50%) rotate(-45deg);
  top: 50%;
}
.Nav-list.isOpen {
  display: none;
}

.Studies {
  width: 90%;
  display: grid;
  margin: auto;
  padding: 2rem;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 20rem;
}
.spotify {
  width: 100%;

  grid-column: 1 / 3;
  grid-row: 1;
}

.video {
  background: salmon;
}
.video video {
  width: 100%;
  display: block;
  object-fit: cover;
}

.testo {
  background: lightgreen;

  grid-column: 1 / 3;
  grid-row: 2;
}
@media (max-width: 740px) {
  ul.Nav-list {
    display: none;
  }
  .Studies {
    display: flex;
    flex-direction: column;
  }
}
